.email {
  position: relative;
  height: 800px;
  background-color: $color-bran;
  z-index: 0;
}

.email__shred {
  width: 100%;
  &--top {
    position: absolute;
    bottom: 100%;
    transform: translateY(50%);
  }

  &--middle {
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
  }
}

.email {
  h2 {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 250px;
    margin-bottom: 55px;
    font-size: 3.75rem;
    color: white;
  }
  p {
    text-align: center;
    color: $color-dark-gray;
    font-size: 1.375rem;
    width: 50%;
    margin: 0 auto;
  }
}

.email__input {
  width: 50%;
  height: 50px;
  background-color: white;
  border-radius: 100px;
  margin: 0 auto;
  display: flex;
  margin-top: 55px;
  overflow: hidden;

  input {
    border: none;
    flex-grow: 1;
    padding-left: 30px;
    font-size: 1.25rem;
    color: $color-dark-gray;
    &:focus-visible {
      outline: none;
    }
  }

  button {
    border: none;
    width: 180px;
    background-color: $color-dark-gray;
    border-radius: 100px 0 0 100px;
    font-weight: $bold;
    font-size: 1.25rem;
    color: white;
  }
}
