.email {
  position: relative;
  height: 1000px;
  background-color: $color-bran;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email__shred {
  &--top {
    position: absolute;
    bottom: 100%;
    transform: translateY(50%);
    width: 125%;
    max-width: $big-screen-resolution;
  }

  &--middle {
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    width: 130%;
    max-width: $big-screen-resolution;
  }
}

.email__content {
  margin: 0 270px;
  h2 {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 55px;
    font-size: 4.6875rem;
    color: white;
  }
  p {
    text-align: center;
    color: $color-dark-gray;
    font-size: 1.875rem;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}

.email__input {
  position: relative;
  width: 85%;
  height: 60px;
  background-color: white;
  border-radius: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
  overflow: hidden;

  input {
    border: none;
    width: calc(100% - 180px);
    padding-left: 30px;
    font-size: 1.5625rem;
    color: $color-dark-gray;
    &:focus-visible {
      outline: none;
    }
  }

  button {
    border: none;
    width: 180px;
    background-color: $color-dark-gray;
    border-radius: 100px 0 0 100px;
    font-weight: $bold;
    font-size: 1.5625rem;
    color: white;
  }
}

@media screen and (max-width: $big-screen-resolution) {
  .email__content {
    margin: 0 100px;
    margin-bottom: 75px;
  }

  .email__input {
    width: 85%;
  }
}

@media screen and (max-width: $medium-screen-resolution) {
  .email__input {
    width: 95%;
    overflow: visible;
    input {
      padding: 0;
      border-radius: 100px;
      width: 100%;
      text-align: center;
    }

    button {
      min-width: 180px;
      width: auto;
      margin-top: 15px;
      padding: 8px 0;
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      border-radius: 100px;
    }
  }
}

@media screen and (max-width: $small-screen-resolution) {
  .email {
    height: 800px;
  }

  .email__content {
    margin: 0 20px;
    margin-bottom: 75px;
    h2 {
      font-size: 50px;
    }
  }
}
