.header {
  position: relative;
}

.header__background {
  display: block;
  width: 100%;
}

.header__text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  bottom: 0;
  width: 40%;
  margin: auto 70px;
}

.header__text h1 {
  font-size: 5.75rem;
  color: $color-bran;
  font-weight: $extrabold;
  text-shadow: 3px -3px 3px rgb(0 0 0 / 15%);
}

.header__text h3 {
  font-weight: $bold;
  font-style: italic;
  color: $color-dark-gray;
  letter-spacing: 4px;
  font-size: 1.5625rem;
}

.header__text a {
  width: 225px;
  padding: 10px 0;
  margin-top: 55px;
  background-color: #fefdfd;
  border-radius: 100px;
  border: none;
  color: #776c64;
  font-weight: $extrabold;
  font-size: 1.5625rem;
  text-align: center;
  text-decoration: none;
}

.header__text blockquote {
  margin-top: 30px;
  font-style: italic;
  font-size: 1.3125rem;
  padding-right: 50px;
  color: $color-dark-gray;
}
