.header {
  position: relative;
}

.header__background {
  display: block;
  width: 100%;
}

.header__text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  bottom: 0;
  width: 40%;
  margin: auto 70px;
}

.header__text h1 {
  font-size: 5.75rem;
  color: $color-bran;
  font-weight: $extrabold;
  text-shadow: 3px -3px 3px rgb(0 0 0 / 15%);
}

.header__text h3 {
  font-weight: $bold;
  font-style: italic;
  color: $color-dark-gray;
  letter-spacing: 4px;
  font-size: 1.5625rem;
}

.header__text a {
  width: 225px;
  padding: 10px 0;
  margin-top: 55px;
  background-color: #fefdfd;
  border-radius: 100px;
  border: none;
  color: #776c64;
  font-weight: $extrabold;
  font-size: 1.5625rem;
  text-align: center;
  text-decoration: none;
}

.header__text blockquote {
  margin-top: 30px;
  font-style: italic;
  font-size: 1.3125rem;
  padding-right: 50px;
  color: $color-dark-gray;
}

@media screen and (max-width: $big-screen-resolution) {
  .header__text blockquote {
    display: none;
  }
  .header__text {
    padding-bottom: 50px;
    width: 800px;
  }
}

@media screen and (max-width: $medium-screen-resolution) {
  .header__text {
    width: 100%;
    h1 {
      font-size: 3.125rem;
    }

    h3 {
      font-size: 1.125rem;
    }

    a {
      font-size: 1.125rem;
      margin-top: 30px;
      width: 155px;
      padding: 8px 0;
    }
  }
}

@media screen and (max-width: $small-screen-resolution) {
  .header__background {
    height: 400px;
    object-fit: cover;
  }

  .header__text {
    align-items: center;
    margin: 0;
    padding: 0;

    h1 {
      text-align: center;
      font-size: 2.1875rem;
    }

    h3 {
      font-size: 16px;
      color: #fefdfd;
      text-shadow: black 1px 0px 0px, black 0.540302px 0.841471px 0px,
        black -0.416147px 0.909297px 0px, black -0.989992px 0.14112px 0px,
        black -0.653644px -0.756802px 0px, black 0.283662px -0.958924px 0px,
        black 0.96017px -0.279415px 0px;
    }

    a {
      margin-top: 10px;
    }
  }
}
