.hiking {
}

/******************\
  TEXT SUB-SECTION
\******************/

.hiking__text {
  position: relative;
  height: 1000px;
  background-color: #99928d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.hiking__text-heading {
  font-size: 3.625rem;
  margin-bottom: 30px;
  font-weight: $semibold;
  text-align: center;
}

.hiking__text-paragraph {
  margin: 0 auto;
  padding: 0 250px;
  font-size: 1.8125rem;
  text-align: center;
  color: #dbdbdb;
}

.hiking__text-shred--top {
  max-width: $big-screen-resolution;
  position: absolute;
  top: 0;
}

.hiking__text-shred--middle {
  max-width: $big-screen-resolution;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  filter: drop-shadow(0 -7px 3px rgb(0 0 0 / 15%));
  z-index: 1;
}

.hiking__text-shadow {
  position: absolute;
  left: 0;
  pointer-events: none;
}

/*********************\
  EXPLORE SUB-SECTION
\*********************/

.hiking__explore {
  display: flex;
  position: relative;
  background: url("../assets/hiking/background-explore.png") no-repeat center;
  background-size: cover;
  height: 1200px;
  justify-content: right;
  align-items: center;
  padding-right: 100px;
}

.hiking__explore-text {
  margin-top: 50px;
  text-align: right;
  font-style: italic;
  color: $color-dark-gray;
  text-shadow: 3px -3px 3px rgb(0 0 0 / 15%);
  font-size: 5rem;
  font-weight: $extrabold;
  line-height: 120%;

  &--bran {
    color: $color-bran;
    font-size: 4.75rem;
  }
}

/*******************\
  DESC SUB-SECTION
\*******************/

.hiking__desc {
  position: relative;
  background-color: white;
  z-index: 1;
}

.hiking__desc-shred {
  position: absolute;
  bottom: 100%;
  width: 100%;
  max-width: $big-screen-resolution;
  z-index: 1;
  filter: drop-shadow(0 -7px 3px rgba(0, 0, 0, 0.15));
}

.hiking__desc-traits {
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}

//NOT ...-traits
.hiking__desc-trait {
  width: 30%;
  h4 {
    font-size: 2.0625rem;
    color: $color-bran;
    margin-bottom: 20px;
    font-weight: $bold;
  }

  p {
    font-size: 1.1875rem;
    color: #333d42;
  }
}

.hiking__desc-quote {
  padding: 0 280px;
  margin: 0 auto;
  margin-top: 200px;
  text-align: center;
  color: #3f3f3f;
  h3 {
    font-size: 6.25rem;
    font-weight: $bold;
  }
  p {
    font-size: 1.5625rem;
    font-weight: $semibold;
  }
  h6 {
    margin-top: 35px;
    font-size: 1.3125rem;
    font-weight: $bold;
  }
}

.hiking__desc-shadow {
  position: absolute;
  right: 0;
  bottom: -100px;
}

@media screen and (max-width: $big-screen-resolution) {
  .hiking__text-paragraph {
    padding: 0 125px;
  }

  .hiking__desc-quote {
    padding: 0 100px;
    margin-top: 125px;
  }

  .hiking__desc-traits {
    margin: 0 75px;
  }

  .hiking__text-shred--middle,
  .hiking__text-shred--top {
    width: 135%;
  }

  .hiking__desc-shred {
    width: 130%;
  }
}

@media screen and (max-width: $medium-screen-resolution) {
  .hiking__explore {
    padding: 0;
    justify-content: center;
    align-items: flex-start;
  }

  .hiking__explore-text {
    margin-top: 125px;
    text-align: center;
    br {
      display: none;
    }
  }

  .hiking__text-paragraph {
    padding: 0 50px;
    font-size: 1.5rem;
  }

  .hiking__desc-traits {
    flex-direction: column;
  }

  .hiking__desc-trait {
    margin: 0 50px;
    width: auto;
    &:not(:last-child) {
      margin-bottom: 75px;
    }
  }

  .hiking__desc-quote {
    margin-top: 75px;
  }
}

@media screen and (max-width: $small-screen-resolution) {
  .hiking__text {
    height: 800px;
  }

  .hiking__text-heading {
    font-size: 40px;
  }

  .hiking__text-paragraph {
    padding: 0 20px;
  }

  .hiking__desc-traits {
    text-align: center;
    margin: 0 20px;
  }

  .hiking__desc-trait {
    margin: 0 20px 75px 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .hiking__desc-quote {
    padding: 0 20px;
  }

  .hiking__explore {
    height: 600px;
  }

  .hiking__explore-text,
  .hiking__explore-text--bran {
    margin-top: 80px;
    font-size: 40px;
  }
}
