.lets-go {
  position: relative;
  background-color: white;
  z-index: 0;
  padding-bottom: 200px;
}

.lets-go__shred {
  position: absolute;
  bottom: 100%;
  width: 100%;
  z-index: -1;
  filter: drop-shadow(0 -7px 3px rgb(0 0 0 / 15%));
}

.lets-go__title {
  text-align: center;
  font-size: 3.9375rem;
  font-weight: $extrabold;
  color: $color-indian-yellow;
  margin-bottom: 35px;
}

.lets-go__desc {
  text-align: center;
  margin: 0 350px;
  font-size: 1.6875rem;
  color: $color-settlement;
}

.lets-go__cards {
  display: flex;
  width: min-content;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.lets-go__card {
  width: 340px;
  height: 528px;
  background-color: $color-settlement;
  margin: 0 40px;
  color: white;

  img {
    width: 100%;
    display: block;
  }

  h5 {
    font-weight: $bold;
    font-size: 1.8125rem;
    margin: 40px 0 20px 15px;
    display: grid;
    align-content: center;
  }

  p {
    font-weight: $regular;
    margin-left: 15px;
    font-size: 1.4375rem;
  }
}

.lets-go__more {
  display: block;
  width: 335px;
  background-color: $color-settlement;
  border-radius: 200px;
  border: none;
  font-weight: $extrabold;
  font-size: 1.4375rem;
  color: white;
  padding: 22px 0;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
}

.lets-go__shadow {
  position: absolute;
  bottom: 5px;
  pointer-events: none;
}

@media screen and (max-width: $big-screen-resolution) {
  .lets-go__card {
    width: 250px;
    height: 280px;

    img {
      height: 225px;
      line-height: 0;
    }

    p {
      display: none;
    }

    h5 {
      height: 55px;
      margin: 0;
      text-align: center;
    }
  }

  .lets-go__desc {
    margin: 0 150px;
  }
}

@media screen and (max-width: $medium-screen-resolution) {
  .lets-go__title {
    font-size: 2.8125rem;
  }

  .lets-go__desc {
    margin: 0 50px;
    font-size: 1.3125rem;
  }

  .lets-go__cards {
    flex-direction: column;
    margin-bottom: 60px;
  }

  .lets-go__card {
    &:not(:first-child) {
      margin-top: 160px;
    }

    h5 {
      font-size: 1.25rem;
    }
  }

  .lets-go__more {
    width: 200px;
    font-size: 1.125rem;
    padding: 14px 0;
  }
}

@media screen and (max-width: $small-screen-resolution) {
  .lets-go {
    padding-bottom: 100px;
  }

  .lets-go__desc {
    margin: 0 20px;
  }

  .lets-go__card {
    margin: 0 20px;
  }
}
