.promo {
}

.promo__block {
  display: flex;
  height: 780px;
  color: white;

  &:first-of-type .promo__block-more {
    font-size: 1.8125rem;
  }
}

.settlement {
  background-color: $color-settlement;
}

.bran {
  background-color: $color-bran;
}

.promo__block-image {
  height: 100%;
}

.promo__block-promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 0 75px 0 100px;

  img + & {
    padding: 0 100px 0 75px;
  }
}

.promo__block-heading {
  font-size: 3.625rem;
  font-weight: $bold;
}

.promo__block-desc {
  font-size: 1.8125rem;
  margin-top: 30px;
  margin-bottom: 20px;
}

.promo__block-more {
  width: 325px;
  padding: 16px 0;
  background-color: $color-indian-yellow;
  border-radius: 200px;
  border: none;
  font-size: 1.4375rem;
  font-weight: $bold;
  color: inherit;
  letter-spacing: 5px;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: $big-screen-resolution) {
  .promo__block {
    height: 550px;
  }

  .promo__block-heading {
    font-size: 2.75rem;
  }

  .promo__block-desc {
    font-size: 1.4rem;
  }

  .promo__block-more,
  .promo__block .promo__block-more:first-of-type {
    font-size: 1.2rem;
    width: 250px;
  }

  .promo__block-promo,
  img + .promo__block-promo {
    padding: 0 75px;
  }
}

@media screen and (max-width: $medium-screen-resolution) {
  .promo__block {
    flex-direction: column;
    height: auto;
  }

  .promo__block:not(:first-of-type) {
    flex-direction: column-reverse;
  }

  .promo__block-image {
    height: auto;
  }

  .promo__block-promo {
    margin: 75px 0;
  }
}

@media screen and (max-width: $small-screen-resolution) {
  .promo__block-heading {
    font-size: 2rem;
  }

  .promo__block-desc {
    font-size: 1rem;
  }

  .promo__block-more,
  .promo__block .promo__block-more:first-of-type {
    font-size: 0.8rem;
    width: 175px;
    padding: 12px 0;
    margin: 0 auto;
  }

  .promo__block-promo,
  img + .promo__block-promo {
    text-align: center;
    padding: 0 20px;
  }
}
