.promo {
}

.promo__block {
  display: flex;
  height: 780px;
  color: white;

  &:first-of-type .promo__block-more {
    font-size: 1.8125rem;
  }
}

.settlement {
  background-color: $color-settlement;
}

.bran {
  background-color: $color-bran;
}

.promo__block-image {
  height: 100%;
}

.promo__block-promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 0 75px 0 100px;

  img + & {
    padding: 0 100px 0 75px;
  }
}

.promo__block-heading {
  font-size: 3.625rem;
  font-weight: $bold;
}

.promo__block-desc {
  font-size: 1.8125rem;
  margin-top: 30px;
  margin-bottom: 20px;
}

.promo__block-more {
  width: 325px;
  padding: 16px 0;
  background-color: $color-indian-yellow;
  border-radius: 200px;
  border: none;
  font-size: 1.4375rem;
  font-weight: $bold;
  color: inherit;
  letter-spacing: 5px;
  text-align: center;
  text-decoration: none;
}
