$regular: 400;
$semibold: 600;
$bold: 700;
$extrabold: 800;

$color-dark-gray: #54524f;
$color-indian-yellow: #e2a355;
$color-settlement: #7f7770;
$color-bran: #deb37e;

$big-screen-resolution: 1440px;
