@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
@import "variables";
@import "content";
@import "nav";
@import "header";
@import "lets-go";
@import "promo";
@import "hiking";

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  // height: 200vw;
}
