@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.content {
  position: relative;
  min-height: max-content;
  height: 100%;
  left: 0;
  right: 0;
  background-color: rgb(238, 238, 238);
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.15), -5px 0 10px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1440px) {
  .content {
    width: 1440px;
    margin: 0 auto;
  }
}
.nav {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 100%;
  font-size: 1rem;
  padding: 1.88em 0.94em 0 4.56em;
}

.nav__logo {
  height: 92px;
}

.nav__links {
  display: flex;
  width: max-content;
  align-items: center;
  color: #54524f;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.0625rem;
}
.nav__links li {
  position: relative;
  margin: 0 20px;
  display: inline-block;
}
.nav__links a {
  color: inherit;
  text-decoration: none;
}

.nav__links-search {
  position: relative;
  width: 185px;
  height: 50px;
  background-color: #c3bfbc;
  border-radius: 100px;
  border: none;
  margin-left: 10px;
}
.nav__links-search + button {
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background: url("./assets/nav/Search.png") no-repeat center;
  background-size: contain;
  width: 30px;
  height: 30px;
  border: none;
}

.nav__shred {
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0;
  top: 0;
}

@media screen and (max-width: 1440px) {
  .nav__shred {
    width: 1440px;
  }
}
@media screen and (max-width: 1000px) {
  .nav__shred {
    width: 1100px;
  }
  .nav__links {
    font-size: 0.8125rem;
  }
  .nav__links li {
    margin: 0 15px;
  }
  .nav__links li:nth-last-child(2) {
    margin-right: 50px;
  }
  .nav__links-search {
    display: none;
  }
  .nav__links-search + button {
    width: 20px;
    height: 20px;
  }
  .nav__logo {
    height: 65px;
  }
  .nav {
    padding-left: 2.5rem;
  }
}
.header {
  position: relative;
}

.header__background {
  display: block;
  width: 100%;
}

.header__text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  bottom: 0;
  width: 40%;
  margin: auto 70px;
}

.header__text h1 {
  font-size: 5.75rem;
  color: #deb37e;
  font-weight: 800;
  text-shadow: 3px -3px 3px rgba(0, 0, 0, 0.15);
}

.header__text h3 {
  font-weight: 700;
  font-style: italic;
  color: #54524f;
  letter-spacing: 4px;
  font-size: 1.5625rem;
}

.header__text a {
  width: 225px;
  padding: 10px 0;
  margin-top: 55px;
  background-color: #fefdfd;
  border-radius: 100px;
  border: none;
  color: #776c64;
  font-weight: 800;
  font-size: 1.5625rem;
  text-align: center;
  text-decoration: none;
}

.header__text blockquote {
  margin-top: 30px;
  font-style: italic;
  font-size: 1.3125rem;
  padding-right: 50px;
  color: #54524f;
}

@media screen and (max-width: 1440px) {
  .header__text blockquote {
    display: none;
  }
  .header__text {
    padding-bottom: 50px;
    width: 800px;
  }
}
@media screen and (max-width: 1000px) {
  .header__text h1 {
    font-size: 3.125rem;
  }
  .header__text h3 {
    font-size: 1.125rem;
  }
  .header__text a {
    font-size: 1.125rem;
    margin-top: 30px;
    width: 155px;
    padding: 8px 0;
  }
}
.lets-go {
  position: relative;
  background-color: white;
  z-index: 0;
  padding-bottom: 200px;
}

.lets-go__shred {
  position: absolute;
  bottom: 100%;
  width: 100%;
  z-index: -1;
  filter: drop-shadow(0 -7px 3px rgba(0, 0, 0, 0.15));
}

.lets-go__title {
  text-align: center;
  font-size: 3.9375rem;
  font-weight: 800;
  color: #e2a355;
  margin-bottom: 35px;
}

.lets-go__desc {
  text-align: center;
  margin: 0 350px;
  font-size: 1.6875rem;
  color: #7f7770;
}

.lets-go__cards {
  display: flex;
  width: min-content;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.lets-go__card {
  width: 340px;
  height: 528px;
  background-color: #7f7770;
  margin: 0 40px;
  color: white;
}
.lets-go__card img {
  width: 100%;
  display: block;
}
.lets-go__card h5 {
  font-weight: 700;
  font-size: 1.8125rem;
  margin: 40px 0 20px 15px;
  display: grid;
  align-content: center;
}
.lets-go__card p {
  font-weight: 400;
  margin-left: 15px;
  font-size: 1.4375rem;
}

.lets-go__more {
  display: block;
  width: 335px;
  background-color: #7f7770;
  border-radius: 200px;
  border: none;
  font-weight: 800;
  font-size: 1.4375rem;
  color: white;
  padding: 22px 0;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
}

.lets-go__shadow {
  position: absolute;
  bottom: 5px;
  pointer-events: none;
}

@media screen and (max-width: 1440px) {
  .lets-go__card {
    width: 250px;
    height: 280px;
  }
  .lets-go__card img {
    height: 225px;
    line-height: 0;
  }
  .lets-go__card p {
    display: none;
  }
  .lets-go__card h5 {
    height: 55px;
    margin: 0;
    text-align: center;
  }
  .lets-go__desc {
    margin: 0 150px;
  }
}
@media screen and (max-width: 1000px) {
  .lets-go__title {
    font-size: 2.8125rem;
  }
  .lets-go__desc {
    margin: 0 50px;
    font-size: 1.3125rem;
  }
  .lets-go__cards {
    flex-direction: column;
    margin-bottom: 60px;
  }
  .lets-go__card:not(:first-child) {
    margin-top: 160px;
  }
  .lets-go__card h5 {
    font-size: 1.25rem;
  }
  .lets-go__more {
    width: 200px;
    font-size: 1.125rem;
    padding: 14px 0;
  }
}
.promo__block {
  display: flex;
  height: 780px;
  color: white;
}
.promo__block:first-of-type .promo__block-more {
  font-size: 1.8125rem;
}

.settlement {
  background-color: #7f7770;
}

.bran {
  background-color: #deb37e;
}

.promo__block-image {
  height: 100%;
}

.promo__block-promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 0 75px 0 100px;
}
img + .promo__block-promo {
  padding: 0 100px 0 75px;
}

.promo__block-heading {
  font-size: 3.625rem;
  font-weight: 700;
}

.promo__block-desc {
  font-size: 1.8125rem;
  margin-top: 30px;
  margin-bottom: 20px;
}

.promo__block-more {
  width: 325px;
  padding: 16px 0;
  background-color: #e2a355;
  border-radius: 200px;
  border: none;
  font-size: 1.4375rem;
  font-weight: 700;
  color: inherit;
  letter-spacing: 5px;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 1440px) {
  .promo__block {
    height: 550px;
  }
  .promo__block-heading {
    font-size: 2.75rem;
  }
  .promo__block-desc {
    font-size: 1.4rem;
  }
  .promo__block-more,
  .promo__block .promo__block-more:first-of-type {
    font-size: 1.2rem;
    width: 250px;
  }
  .promo__block-promo,
  img + .promo__block-promo {
    padding: 0 75px;
  }
}
/******************\
  TEXT SUB-SECTION
\******************/
.hiking__text {
  position: relative;
  height: 1000px;
  background-color: #99928d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.hiking__text-heading {
  font-size: 3.625rem;
  margin-bottom: 30px;
  font-weight: 600;
}

.hiking__text-paragraph {
  margin: 0 auto;
  padding: 0 250px;
  font-size: 1.8125rem;
  text-align: center;
  color: #dbdbdb;
}

.hiking__text-shred--top {
  max-width: 1440px;
  position: absolute;
  top: 0;
}

.hiking__text-shred--middle {
  max-width: 1440px;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  filter: drop-shadow(0 -7px 3px rgba(0, 0, 0, 0.15));
  z-index: 1;
}

.hiking__text-shadow {
  position: absolute;
  left: 0;
  pointer-events: none;
}

/*********************\
  EXPLORE SUB-SECTION
\*********************/
.hiking__explore {
  display: flex;
  position: relative;
  background: url("../assets/hiking/background-explore.png") no-repeat center;
  height: 1200px;
  justify-content: right;
  align-items: center;
  padding-right: 100px;
}

.hiking__explore-text {
  margin-top: 50px;
  text-align: right;
  font-style: italic;
  color: #54524f;
  text-shadow: 3px -3px 3px rgba(0, 0, 0, 0.15);
  font-size: 5rem;
  font-weight: 800;
  line-height: 120%;
}
.hiking__explore-text--bran {
  color: #deb37e;
  font-size: 4.75rem;
}

/*******************\
  DESC SUB-SECTION
\*******************/
.hiking__desc {
  position: relative;
  background-color: white;
  z-index: 1;
}

.hiking__desc-shred {
  position: absolute;
  bottom: 100%;
  max-width: 1440px;
  z-index: 1;
  filter: drop-shadow(0 -7px 3px rgba(0, 0, 0, 0.15));
}

.hiking__desc-traits {
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}

.hiking__desc-trait {
  width: 30%;
}
.hiking__desc-trait h4 {
  font-size: 2.0625rem;
  color: #deb37e;
  margin-bottom: 20px;
  font-weight: 700;
}
.hiking__desc-trait p {
  font-size: 1.1875rem;
  color: #333d42;
}

.hiking__desc-quote {
  padding: 0 280px;
  margin: 0 auto;
  margin-top: 200px;
  text-align: center;
  color: #3f3f3f;
}
.hiking__desc-quote h3 {
  font-size: 6.25rem;
  font-weight: 700;
}
.hiking__desc-quote p {
  font-size: 1.5625rem;
  font-weight: 600;
}
.hiking__desc-quote h6 {
  margin-top: 35px;
  font-size: 1.3125rem;
  font-weight: 700;
}

.hiking__desc-shadow {
  position: absolute;
  right: 0;
  bottom: -100px;
}

@media screen and (max-width: 1440px) {
  .hiking__text-paragraph {
    padding: 0 125px;
  }
  .hiking__desc-quote {
    padding: 0 100px;
    margin-top: 125px;
  }
  .hiking__desc-traits {
    margin: 0 75px;
  }
  .hiking__text-shred--middle,
  .hiking__text-shred--top {
    width: 135%;
  }
  .hiking__desc-shred {
    width: 130%;
  }
}
.email {
  position: relative;
  height: 1000px;
  background-color: #deb37e;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email__shred--top {
  position: absolute;
  bottom: 100%;
  transform: translateY(50%);
  width: 125%;
  max-width: 1440px;
}
.email__shred--middle {
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
  width: 130%;
  max-width: 1440px;
}

.email__content {
  margin: 0 270px;
}
.email__content h2 {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 55px;
  font-size: 4.6875rem;
  color: white;
}
.email__content p {
  text-align: center;
  color: #54524f;
  font-size: 1.875rem;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.email__input {
  width: 85%;
  height: 60px;
  background-color: white;
  border-radius: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
  overflow: hidden;
}
.email__input input {
  border: none;
  width: calc(100% - 180px);
  padding-left: 30px;
  font-size: 1.5625rem;
  color: #54524f;
}
.email__input input:focus-visible {
  outline: none;
}
.email__input button {
  border: none;
  width: 180px;
  background-color: #54524f;
  border-radius: 100px 0 0 100px;
  font-weight: 700;
  font-size: 1.5625rem;
  color: white;
}

@media screen and (max-width: 1440px) {
  .email__content {
    margin: 0 100px;
    margin-bottom: 75px;
  }
  .email__input {
    width: 85%;
  }
}
.footer {
  display: flex;
  height: 720px;
  background-color: #7f7770;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 157.5px;
}
.footer * {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.footer__content {
  width: 100%;
  padding: 0 90px;
  display: flex;
  justify-content: space-between;
}
.footer__content h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.footer__content p {
  font-size: 1.5rem;
}
.footer__content ul {
  list-style-type: none;
}
.footer__content li {
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.footer__content li a {
  text-decoration: none;
  color: inherit;
}

.footer__content-socials {
  margin-right: 80px;
  font-style: normal;
  width: 400px;
}
.footer__content-socials ul {
  margin-top: 20px;
}
.footer__content-socials li {
  display: inline-block;
  margin-right: 10px;
}
.footer__content-socials li img {
  height: 35px;
}

.flex {
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 1440px) {
  .footer__content h3 {
    font-size: 1.65rem;
    margin-bottom: 20px;
  }
  .footer__content p {
    font-size: 1.2rem;
  }
  .footer__content ul {
    list-style-type: none;
  }
  .footer__content li {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  .footer__content li a {
    text-decoration: none;
    color: inherit;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.copyright {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-decoration: underline black;
  padding: 3px;
}

/*# sourceMappingURL=style.css.map */
