@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
.content {
  position: relative;
  min-height: max-content;
  height: 100%;
  left: 0;
  right: 0;
  background-color: rgb(238, 238, 238);
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.15), -5px 0 10px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1440px) {
  .content {
    margin: 0 calc((100% - 1440px) / 2);
  }
}
.nav {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 100%;
  font-size: 1rem;
  padding: 1.88em 0.94em 0 4.56em;
}

.nav__logo {
  height: 5.8em;
  margin-right: auto;
}

.nav__links {
  display: flex;
  width: max-content;
  align-items: center;
  color: #54524f;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav__links li {
  margin: 0 20px;
  display: inline-block;
}

.nav__links-search {
  position: relative;
  width: 155px;
  height: 50px;
  background-color: #c3bfbc;
  border-radius: 100px;
}

.nav__links-search img {
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.nav__shred {
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0;
  top: 0;
}

.header {
  position: relative;
}

.header__background {
  display: block;
  width: 100%;
}

.header__text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  bottom: 0;
  width: 40%;
  margin: auto 70px;
}

.header__text h1 {
  font-size: 5.75rem;
  color: #deb37e;
  font-weight: 800;
  text-shadow: 3px -3px 3px rgba(0, 0, 0, 0.15);
}

.header__text h3 {
  font-weight: 700;
  font-style: italic;
  color: #54524f;
  letter-spacing: 4px;
  font-size: 1.4rem;
}

.header__text button {
  height: 45px;
  width: 210px;
  margin-top: 55px;
  background-color: #fefdfd;
  border-radius: 100px;
  border: none;
  color: #776c64;
  font-weight: 800;
  font-size: 1.56rem;
}

.header__text blockquote {
  margin-top: 30px;
  font-style: italic;
  font-size: 1.28rem;
  padding-right: 50px;
  color: #54524f;
}

.lets-go {
  position: relative;
  background-color: white;
  z-index: 0;
  padding-bottom: 200px;
}

.lets-go__shred {
  position: absolute;
  top: -150px;
  width: 100%;
  z-index: -1;
  filter: drop-shadow(0 -7px 3px rgba(0, 0, 0, 0.15));
}

.lets-go__title {
  text-align: center;
  font-size: 3.24rem;
  font-weight: 800;
  color: #e2a355;
  margin-bottom: 35px;
}

.lets-go__desc {
  text-align: center;
  margin: 0 30%;
  font-size: 1.2rem;
  color: #7f7770;
}

.lets-go__cards {
  display: flex;
  width: min-content;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.lets-go__card {
  width: 340px;
  height: 528px;
  background-color: #7f7770;
  margin: 0 40px;
  color: white;
}
.lets-go__card img {
  width: 100%;
}
.lets-go__card h5 {
  font-weight: 700;
  font-size: 29px;
  margin: 40px 0 20px 15px;
}
.lets-go__card p {
  font-weight: 400;
  margin-left: 15px;
  font-size: 20px;
}

.lets-go__more {
  display: block;
  width: 334px;
  height: 74px;
  background-color: #7f7770;
  border-radius: 200px;
  border: none;
  font-weight: 800;
  font-size: 20px;
  color: white;
  margin: 0 auto;
}

.lets-go__shadow {
  position: absolute;
  bottom: 5px;
  pointer-events: none;
}

.promo__block {
  display: flex;
  height: 780px;
  color: white;
}

.settlement {
  background-color: #7f7770;
}

.bran {
  background-color: #deb37e;
}

.promo__block-image {
  height: 100%;
}

.promo__block-promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 0 100px 0 75px;
}

.promo__block-heading {
  font-size: 3.13rem;
  font-weight: 700;
}

.promo__block-desc {
  font-size: 1.38rem;
  margin-top: 30px;
  margin-bottom: 20px;
}

.promo__block-more {
  width: 275px;
  height: 60px;
  background-color: #e2a355;
  border-radius: 200px;
  border: none;
  font-size: 1.56rem;
  font-weight: 700;
  color: inherit;
  letter-spacing: 5px;
}

.hiking__text {
  position: relative;
  height: 770px;
  background-color: #99928d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.hiking__text-heading {
  font-size: 2.19rem;
  margin-bottom: 20px;
  font-weight: 600;
}

.hiking__text-paragraph {
  margin: 0 30%;
  font-size: 1.19rem;
  text-align: center;
  color: #dbdbdb;
}

.hiking__text-shred--top {
  position: absolute;
  top: 0;
}

.hiking__text-shred--bottom {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  filter: drop-shadow(0 -7px 3px rgba(0, 0, 0, 0.15));
  z-index: 1;
}

.hiking__text-shadow {
  position: absolute;
  left: 0;
  pointer-events: none;
}

.hiking__explore {
  display: flex;
  position: relative;
  background: url("../assets/hiking/background-explore.png") no-repeat center;
  height: 900px;
  justify-content: right;
  align-items: center;
  padding-right: 110px;
}

.hiking__explore-text {
  text-align: right;
  font-style: italic;
  color: #54524f;
  text-shadow: 3px -3px 3px rgba(0, 0, 0, 0.15);
  font-size: 4.69rem;
  font-weight: 800;
}
.hiking__explore-text--bran {
  color: #deb37e;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/*# sourceMappingURL=style.css.map */
